{% extends "base.html" %}
{% set active_page="today" %}

{% block content %}
<div class="page-text">
    <p>Below is a plot of the S&P 500 from it's current cycle peak to today</p>
</div>

{% for x in data %}
    <div class="chart">
        <img src='data:image/png;base64,{{ x }}'/>
    </div>
{% endfor %}
<div class="page-text">
    <p>In this context, a cycle is defined as a decline of 10% or more from an all-time high, followed by a return to that same all-time high.</p>
</div>

{% endblock %}